@tailwind base;
@tailwind components;
@tailwind utilities;

.btn1 {
    display: inline-flex;
    flex-shrink: 0;
    border-radius: 9999px ;
    cursor: pointer;
    user-select: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;}